# Ignore executable binaries
*.exe
*.out
*.app
*.bin
threeBythreeApp
threeByThreeApp
threeBythreeApp
server
main
# Ignore temporary files
*.tmp
*.temp
# Ignore build artifacts
/build/
# Ignore macOS system files
.DS_Store
*.csv